.form_container{
  display: flex;
  gap: 10rem;
  margin-bottom: 1rem;
}
.form_details{
  width: 25%;
}
.form_input{
  margin-bottom: 1.5rem;
}
label{
  font-size: 1rem;
  display: block;
  margin-bottom: 3px;
}
.form_input input{
  width: 100%;
  display: block;
  padding: 7px 10px;
}
.form_input input:focus{
  outline: 1px solid dodgerblue;
}
.form_input input{
  border: 2px solid dodgerblue;
  border-radius: 4px;
}


/*checkbox section*/
.form_checkbox_container{
  display: flex;
  gap: 5.6rem;
  margin-bottom: 4rem;
}
.form_checkbox{
  display: flex;
  gap: 1rem;
}
.form_checkbox_input{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.form_checkbox_input input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1.6px solid dodgerblue;
  width: 15px;
  height: 14px;
  accent-color: dodgerblue;
}
.form_checkbox_input input[type="checkbox"]:checked{
  background-color: dodgerblue;
}

  /*table section*/

.form_table_container p{
  margin-bottom: 1.5rem;
}
.survey-table-form {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.rating-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.rating-table th{
  border: 1px solid black;
  padding: 6px;
}
.rating-table td {
  border: 1px solid dodgerblue;
  padding: 6px;
}

.rating-table th {
  background-color: #a59f9f;
  font-weight: normal;
}

.rating-table td:first-child {
  text-align: left;
}

.rating-table input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border: 2px solid dodgerblue;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.rating-table input[type="radio"]:checked {
  background-color: dodgerblue;
  border-color: dodgerblue;
}



button[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 8px 30px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #007acc;
}
